@import url("https://use.typekit.net/vza0kng.css");

.App {
  text-align: center;
}
body {
  font-family: sofia-pro-soft, sans-serif;
  line-height: inherit;
}
p {
  font-size: .75rem;
  margin-bottom: 5px;
}
h4 {
  font-size: 1rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg {
  pointer-events: none;
}
/* HIDE RADIO */
/* [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
} */

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}
hr {
  border: 1px solid rgba(0,0,0,.125); 
  display:block;
  width: 96%;               
  margin-top: -1px;
  margin-bottom: -1px;
}
/* CHECKED STYLES */
[type=radio]:checked + img {
  box-shadow: 0 0 0  red;
}
.searchForm input::placeholder {
  color: white;
}
.search {
  background: url('../src/img/logo.png') no-repeat left center/40px;
  display: inline-block;
  border: none;
}
.searchForm {
  flex-basis: 60%;
}

.success {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: auto;
  color: #468847;
  display: inline-block;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
.form-success {
  display: inline-block;
  border: none;
  border-bottom: 2px solid #228b22;
  box-shadow: none;
  width: 100%;
  height: 2.5em;
  padding: 0.375em 0.75em;
  font-size: 0.875em;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
}
.pword > input:focus {
  border: 1px solid #fff;
}
.pword {
  margin: 0 auto;
  width: 80%;
}
.form-success:focus {
  box-shadow: none;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid #228b22;
}
.form-error:focus {
  box-shadow: none;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid #8b0000;			
}
.form-error {
  display: inline-block;
  border:none;
  border-bottom: 2px solid #8b0000;
  box-shadow: none;
  width: 100%;
  height: 2.5em;
  padding: 0.375em 0.75em;
  font-size: 0.875em;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
}

.error {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: auto;
  color: #b94a48;
  display: inline-block;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
.searchForm >.form-control:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.prefinput {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid gray;
}
.prefinput:focus {
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid gray;
}
/* .form-inline .form-control{
  max-width: 700px;
  width: auto;
} */
input, input[placeholder] {
    text-align: center;
}

.stars {
  align-self: end;
  margin-right: 10px;
}
.fa-star:hover {
  color: gold;
}
.badge {
  margin-left: 10px;
}
.alert {
  white-space: pre-wrap;
  text-align: center;
}
.providericon {
  width: 8%;
}
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.provider-button {
  height: 40px;
  border-width: 0;
  width: 225px;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.signemail-button {
  height: 40px;
  border-width: 0;
  width: 195.375px;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  background: #13d45a 
}
.email-button {
  height: 40px;
  border-width: 0;
  background: #007bff;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.email-button:disabled,
.email-button:focus:disabled,
.email-button:hover:disabled,
.email-button:active:disabled {
  height: 40px;
  border-width: 0;
  background: #a3d0ff;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
  .google-button:focus,
  .google-button:hover,
  .email-button:focus,
  .email-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  .google-button:active,
  .email-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
    
.google-button__icon, .email-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus, .email-button__icon--plus {
  width: 27px;
}
.emailicon, .googleicon{
  height: 18px;
  width: 18px
}
.facebookicon, .twittericon {
  height: 30px;
  width: 30px;
}
.facebook-button__icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

}
.google-button__text, .email-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
.avatar {
  border-radius: 50%;
  max-width: 100px;
}
.nav-avatar {
  border-radius: 50%;
  max-height: 50px;
}
.nav-item-avatar {
  display: inherit;
  padding: 0 1rem;
}
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.radio-label {
  display: inline-block;
  background-color: #ddd;
  padding: 6px 11px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.App-link {
  color: #61dafb;
}
.sidebar li {
  list-style-type: none;
}
.sidebar {  
  height: auto;
}
.card-img {
  object-fit: cover;
}
.img-fluid {
  width: 30%;
  height: auto;
}
.card-img-overlay {
  background-color: rgba(255,255,255,0.8);
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.fa-angle-down, .fa-angle-up {
  margin-left: 10px;
  vertical-align: inherit;
}
.acctedit {
  margin-left: 0px;
  margin-right: 5px;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.countryname {
  vertical-align: middle;
}
.data-view {
  color: #008080;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.data-container {
  padding-top: 10px;
  padding-left: 3px;
  margin-left: 10px;
  border-bottom: 1px solid #b2d6ff;
  color: #666;    
  font-size: 16px;
}
.data-span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.9999s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 28px;
    height: 28px;
    opacity: 0;
  }
}
.breakpoint__small-down {
  width: 100%;
}
.main {
  margin: 0 auto; 
  padding: 10px;
}
.col-md-9 {
  padding: 0px;
}
.btn {
  border-radius: 1rem;
}
.row {
  margin: 0;
}
.recursive {
  padding-top: 10px;
  padding-left: 3px;
  margin-left: 10px;
  border-bottom: 1px solid #b2d6ff;
  color: #666;    
  font-size: 16px;
  display: flex;
  align-items: center;
}
.recursivename {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.countryul {
  margin-left: 10px;
}
.countrylist {
  display: flex;
  flex-direction: column;
}
.countryactions {
  display: flex;
}
.countryname {
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
}
.country {
  fill: #60c080;
  stroke: #000;
  stroke-width: .1;
  outline: none;
  stroke-linecap: round;
}
.gameCountry {
  fill: #ffffff;
  stroke: #000;
  stroke-width: 0.1;
  outline: none;
  stroke-linecap: round;
}
.gameCountry:hover {
  fill: #13d45a;
  stroke: #000;
  stroke-width: 0.1;
  outline: none;
  stroke-linecap: round;
  cursor: pointer;
}
.mapFlag {
  width: 50px;
}
.rsm-svg {
  border: 1px solid darkslateblue;
  border-radius: 10px;
  background-color: lightskyblue
}
.country:hover {
  fill: #024e1b;
  stroke: #000;
  stroke-width: .1;
  outline: none;
  cursor: pointer;
}
.country:focus {
  fill: #FF5722;
  stroke: #000;
  stroke-width: .7;
  outline: none;
}
.possible {
  list-style: none;
  padding: 10px;
  flex-basis: 45%;
  display: flex;
  align-items: center;
}
.guesses {
  min-height: 48px;
}
/* .possible:hover {
  list-style: none;
  padding: 10px;
  flex-basis: calc(50% - 2.4%);
  
} */
.card {
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgba(37, 97, 52, 0.15), 0 2px 4px 0 rgba(93, 148, 100, 0.2);
  border-radius: .5rem;
}
.possible.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.692);
}
.media-body {
  flex: 1;
}
svg, g, path {
  pointer-events: all; 
}
.fas {
  margin-left: -40px;
}
.detailFlag {
  object-fit: contain;
  padding: .25rem;
  max-width: 25%;
}
.media img {
  object-fit: contain;
  padding: .25rem;
  width: 25%;
}
.favFlag {
  max-width: 70px;
  object-fit: contain;
  padding: .25rem;
}
audio {
  width: 100%;
}
.form-group {
  position: relative;
}
.navbarlink {
  padding: 1rem;
}
.btn a {
  color: white;
}
.facebook-button {
  background: #475a96;
  color: white;
}
.twitter-button {
  background: #1da1f2;
  color: white;
}
.regionlist>.bg-success:hover {
  cursor: pointer;
  background-color: #067520!important;
}
.fa-star:hover {
  cursor: pointer;
}

@media (max-width: 768px){
  /* .navbar-nav {
    flex-direction: row;
  }
  .nav-item {
    padding: 10px;
  } */
  .choice {
    padding-inline-start: 0;
  }
}
@media (min-width: 576px){
  .form-inline .form-control {
    display: inline-block;
    max-width: 768px;
    vertical-align: middle;
  }
}

/* .nav {
  flex-wrap: nowrap;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.logo{
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.img-thumbnail {
  object-fit: cover;
}
.load-more {
  display: inline;  
}
ul .collapse, ul .show, ul .collapsing {
  padding-inline-start: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px){
  .col-md-9 {
    padding: 0 15px; 
  }
  .main {
    margin-left: 250px;
    padding: 0px;
    overflow: hidden;
    margin-right: auto;
    width: auto;

  }
  .detailFlag  {
    width: 15%;
  }
  .card {
    height: fit-content
  }
  .datacard {
    padding: 5px;
  }
  h5.list-group-item{
    border: none;
  }
  .sidenav {
    width: 250px;
    bottom: 0;
    position: fixed;
    z-index: 10;
    height: 100%;
    padding: 0px;
  }
  .navbar-brand {
    line-height: 62px;
    margin: 0;
  }
  .navbar-expand .navbar-nav {
    flex-direction: column;
    text-align: left;
  }
  .sublinks{
    text-align: right;
    color: #bbb!important
  }
  .sublinks:hover {
    color: white!important;
  }

  .countriesnav {
    padding: 10px;
  }
}